<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="square"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="square"></ion-icon>
      <ion-label>Calculadora</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>